html,
body {
	height: 100%;
}

body {
	background: #00050f;
	display: grid;
	place-items: center;
}

.fire-container {
	filter: blur(8px);
}

.flame {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 75px;
	height: 225px;
	background: radial-gradient(
		circle at 50% 80%,
		#ff6b00,
		#ff0000 40%,
		transparent 85%
	);
	opacity: 0.8;
	border-radius: 100%;
	animation: flicker 2s infinite alternate;
}

.flame:nth-child(2) {
	width: 50px;
	height: 150px;
	background: radial-gradient(
		circle at 50% 55%,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 240, 160, 1) 10%,
		rgba(255, 180, 40, 0.98) 24%,
		rgba(255, 85, 0, 0.92) 40%,
		rgba(0, 0, 0, 0) 55%
	);
	animation: flicker 1s infinite alternate-reverse;
}

.flame:nth-child(3) {
	width: 20px;
	height: 100px;
	background: radial-gradient(
		circle at 50% 80%,
		#ffff00,
		#ffaa00 40%,
		transparent 70%
	);
	animation: flicker 0.5s infinite alternate;
}

.smoke {
	position: absolute;
	bottom: 100px;
	left: 50%;
	width: 20px;
	height: 25px;
	background: rgba(100, 100, 100, 0.3);
	border-radius: 50%;
	animation: rise 3s infinite ease-out;
	z-index: -1;
}

.smoke:nth-child(2) {
	animation-delay: 0.25s;
}
.smoke:nth-child(3) {
	animation-delay: 0.5s;
	width: 50px;
}
.smoke:nth-child(4) {
	animation-delay: 1s;
	width: 50px;
}
.smoke:nth-child(5) {
	animation-delay: 1.25s;
}
.smoke:nth-child(6) {
	animation-delay: 1.5s;
	height: 40px;
}
.smoke:nth-child(7) {
	animation-delay: 2s;
}
.smoke:nth-child(8) {
	animation-delay: 3s;
}
.smoke:nth-child(9) {
	animation-delay: 4s;
}

.stick {
	position: absolute;
	height: 100%;
	width: 20px;
	top: calc(50% - 50px);
	z-index: -10;
	background: #3a1a04;
	box-shadow: inset 0 3px 20px;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 80px;
		width: 20px;
		background: linear-gradient(rgba(249, 175, 0, 0.3), transparent);
	}
}

@keyframes flicker {
	0% {
		transform: translateX(-50%) translateY(0) scaleX(1) scaleY(1);
		opacity: 1;
		filter: blur(10px) contrast(1);
	}
	25% {
		transform: translateX(calc(-50% + 1 * -2px)) translateY(-6%) scaleX(0.98)
			scaleY(1.02) rotate(-2deg);
		opacity: 0.92;
		filter: blur(8px) contrast(1.02);
	}
	50% {
		transform: translateX(calc(-50% + 1 * 2px)) translateY(-12%) scaleX(1.02)
			scaleY(0.98) rotate(3deg);
		opacity: 0.86;
		filter: blur(11px) contrast(0.98);
	}
	75% {
		transform: translateX(calc(-50% + 1 * -1px)) translateY(-8%) scaleX(0.99)
			scaleY(1.01) rotate(-1deg);
		opacity: 0.94;
		filter: blur(9px) contrast(1.01);
	}
	100% {
		transform: translateX(-50%) translateY(0) scaleX(1) scaleY(1) rotate(0deg);
		opacity: 1;
		filter: blur(10px) contrast(1);
	}
}

@keyframes rise {
	0% {
		transform: translateX(-50%) translateY(0) scale(1);
		opacity: 0;
	}
	10% {
		opacity: 0.3;
	}
	100% {
		transform: translateX(calc(-50% + 20px)) translateY(-200px) scale(3);
		opacity: 0;
	}
}
